* {
    box-sizing: border-box;
    --Lightred: hsla(0, 100%, 67%, 0.300);
    --Orangeyyellow: rgba(255, 177, 31, 0.300);
    --Greenteal: hsla(166, 100%, 37%, 0.300);
    --Cobaltblue: hsla(234, 85%, 45%,0.300);
    /* Gradients */
    --Lightslateblue: hsl(252, 100%, 67%);/*background #7857ff*/
    --Lightroyalblue: hsl(241, 81%, 54%);/*background  #2e2be9*/
    --Violetblue: hsla(256, 72%, 46%, 1);/*circle #4e21ca*/
    --Persianblue: hsla(241, 72%, 46%, 0);/*circle* #2421ca/
    /* Neutral */
    --White: hsl(0, 0%, 100%);
    --Paleblue: hsl(221, 100%, 96%);
    --Lightlavender: hsl(241, 100%, 89%);
    --Darkgrayblue: hsl(224, 30%, 27%);
    font-family: "Hanken Grotesk", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
}
body{
    width: 100%;
    height: 100%;
}
#main-container{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color:white;
    border-radius:25px;
}
#score{
    border-radius: 25px;
    background-image: linear-gradient(to bottom, #7857ff, #694cf9, #5941f4, #4736ee, #2e2be9);
    width: 300px;
    height: 410px;
}
#score > h3 {
    text-align: center;
    color:var(--White);
    font-family: "Hanken Grotesk", sans-serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
    padding-top:10px
}
#circle{
    text-align: center;
    background-image: linear-gradient(to bottom, #4e21ca, #4621ca, #3d21ca, #3221ca, #2421ca);
    width: 150px;
    height: 150px;
    margin: 0 auto;
    border-radius: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#circle > h1 {
    color:var(--White);
    font-family: "Hanken Grotesk", sans-serif;
        font-optical-sizing: auto;
        font-weight: 800;
        font-style: normal;
    scale:1.7;
}
#circle > p {
    color: rgba(200, 199, 255, 0.600);
    margin: 0;
}
#score > h2 {
    text-align: center;
    color:var(--White);
    font-family: "Hanken Grotesk", sans-serif;
        font-optical-sizing: auto;
        font-weight: 700;
        font-style: normal;
}
#h3-summary{
    padding-top:10px;
}
#appl{
    color:var(--Paleblue);
    text-align: center;
    width: 45%;
    margin: 0 auto 10px auto;
    padding: 0;
    color: rgba(200, 199, 255, 0.900);
}
#summary{
    width: 25%;
}
.subjects{
    display: grid;
    grid-template-areas: 
    "react-svg reactId obtMark-react totalMark-react"
    "mem-svg memId obtMark-mem totalMark-mem"
    "ver-svg verId obtMark-ver totalMark-ver"
    "vis-svg visId obtMark-vis totalMark-vis";
    grid-template-rows:0fr 0fr 0fr 0fr;
    grid-template-columns: 2fr 5fr 0.2fr 0.5fr;
    justify-content: center;
    align-items: center;
    padding: 17px;
    margin-bottom:10px;
    background: var(--Lightred);
    border-radius: 7px;
}
.subjects:nth-child(3){
    background: var(--Orangeyyellow);
}
.subjects:nth-child(4){
    background: var(--Greenteal);
}
.subjects:nth-child(5){
    background: var(--Cobaltblue);
}
#visual{
    margin-bottom:25px;
}
/* GRID work for reaction div */
 #react-svg{
    grid-area: react-svg;
}
#reactID{
    grid-area: reactId;
}
#obtMark-react{
    grid-area: obtMark-react;
}
#totalMark-react{
    grid-area: totalMark-react;
}
/* GRID work for memory div */
 #mem-svg{
    grid-area: mem-svg;
}
#memId{
    grid-area: memId;
}
#obtMark-mem{
    grid-area: obtMark-mem;
}
#totalMark-mem{
    grid-area: totalMark-mem;
}
/* GRID work for verbal div */
 #verId{
    grid-area: verId;
}
#ver-svg{
    grid-area: ver-svg;
}
#obtMark-ver{
    grid-area: obtMark-ver;
}
#totalMark-ver{
    grid-area: totalMark-ver;
} 
/* GRID work for visual div */
#visId{
    grid-area: visId;
}
#vis-svg{
    grid-area: vis-svg;
}
#obtMark-vis{
    grid-area: obtMark-vis;
}
#totalMark-vis{
    grid-area: totalMark-vis;
} 
#summary{
    padding: 0 20px 20px 20px;
    display: flex;
    flex-direction: column;
    width: 302px;
    height: 410px;
}
/* CSS for link shown as a button */
a {
    height: 45px;
    padding: 10px;
    border-radius: 30px;
    margin: 0;
    outline: none;
    border: none;
    align-items: center;
    text-align: center;
    text-shadow: 0 0 0 rgb(255, 255, 255);
    text-decoration: none;
    font-size: 16px;
    text-align: center;
    box-sizing: border-box;
    cursor: pointer;
    transition: transform 50ms ease;
    background: var(--Darkgrayblue);
    color: #ffffff;
    text-shadow: rgba(140, 0, 255, 0.9) 0px 0px 20px;
}
a:hover {
    -webkit-box-shadow: 0px 0px 15px 0px #2b2bff;
    -moz-box-shadow: 0px 0px 15px 0px #5f03f4;
    box-shadow: 0px 0px 15px 0px #3838ff;
    animation: wave 8s ease infinite;
    transition: box-shadow, 0.4s;
    border: none;
    font-size: 16px;
    text-align: center;
    transform: scale(1.05, 1.05);
    background: linear-gradient(90deg, #2b2bff, #3838ff, #5f03f4, #2b2bff);
    background-size: 400%;
    animation: wave 7s cubic-bezier(0.75, 0.75, 0.75, 0.75) infinite;
}
a:hover:before {
    filter: blur(20px);
    opacity: 1;
    animation: wave 8s linear infinite;
}
@keyframes wave {
    0% {
      background-position: 0%;
}
  
    100% {
      background-position: 400%;
    }
}
/* NOW I AM GOING To make this RESPONSIVE HHAHAHAH*/
@media (max-width:640px) {
    #main-container{
        width:100%;
        height:100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: white;
    }
    #score{
        overflow:scroll;
    }
    #summary{
        overflow:scroll;
    }
    #visual{
        margin-bottom:9px;
    }
}
@media (max-width:568px) and (orientation: landscape)  {
     body{
        position: fixed;
        margin: 0;
    } 
    #score{
        height: 100%;
        position: absolute;
        top: 0;
        left:0;
        border-radius: 0 20px 20px 0;
    }
    #score > h3 {
        position: absolute;
        top: 0%;
        left: 20px;
    }
    #circle{
        width:100px;
        height:100px;
        position: absolute;
        top:20%;
        left:5%;
    }
    #circle > h1{
        scale:1.3;
        position: relative;
        top:5px;
    }
     #circle > p { 
        position: relative;
        top: -20px;
    }
     #score > h2 {
        position: absolute;
        top:20%;
        left:50%;
        scale: 1.5;
    } 
     #appl{
        position: relative;
        top:55%;
        left:0%;
        width: 95%;
        font-size: larger;
    } 
     #summary{
        z-index: 300;
        margin-left:300px;
        padding: 35px;
    }
    #summary > h3{
        position:relative;
        top:2%;
    }
    #visual{
        margin-bottom: 10px;
    }
    .subjects{
       padding: 10px; 
    }
} 
